<div class="container">
  <div class="jumbotron">
    <div class="mx-auto my-5 px-5 py-5 text-center">
      <h1>Welome to Alpha Blog !</h1>
      <button class="btn btn-primary">
        <%= link_to "Sign Up", signup_path, class: "nav-link" %>
      </button>
    </div>
  </div>
</div>