<div class="row mb-3">
  <h1>Category: <%= @category.name %></h1>
</div>

<% if logged_in? && current_user.admin? %>
  <div class="row mb-3 text-center">
    <%= link_to "Edit Category name", edit_category_path(@category) %>
  </div>
<% end %>

<%= render 'articles/article' %>

<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>
